/* .color-primary-0 { color: #2A4D6E }
.color-primary-1 { color: #7B8289 }
.color-primary-2 { color: #4F667C }
.color-primary-3 { color: #0C3761 }
.color-primary-4 { color: #022C54 } */


body {
    background-color: #2A4D6E;
}
.col-12 {
    background-color: #0C3761;
    color: #7B8289;
}
h2,h5 {
    text-align: center;
}
#myCanvas {
    border: 3px solid #022C54;
    float: left;
    padding: 10px;
    margin: 10px;
}
.col-6 {
    margin: 5px;
}
.hangman{
    
}
